@import "../../utils/mixins.scss";

// Layout section
.section {
	padding: 160px 0;
	width: 75vw;
	margin: auto;

	@include tablet {
		width: 90vw;
	}
	@include mobile {
		width: 85vw;
		padding: 100px 0;
	}
}