@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.header {
	width: 100%;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba($background, 0);
	transition: all 0.5s ease;
	z-index: 5;

	&__container {
		display: flex;
		height: 8vh;
		width: 75%;
		justify-content: space-between;
		align-items: center;
		margin: auto;
	}

	&__logo {
		font-size: 25px;
		font-family: $logo-font, sans-serif;

		&--ma {
			font-size: 33px;

			&.m {
				color: $primary;
			}

			&.a {
				@include gradientColor;
			}
		}

		&--container {
			display: flex;
			flex-direction: column;
		}
	}

	&--scrolled {
		box-shadow: $header-shadow;
		background: rgba($overlay, 1);
	}
}
