@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.header {
	height: 10vh;
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	position: sticky;
	background: transparent;
	z-index: 1;
	
	&__logo {
		font-size: 25px;
		font-family: $logo-font, sans-serif;

		&--ma {
			font-size: 33px;

			&.m {
				color: $primary;
			}

			&.a {
				@include gradientColor;
			}
		}

		&--container {
			display: flex;
			flex-direction: column;
		}
	}
}
