@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.engagement {
	display: flex;
	justify-content: center;
	background: rgba($primary, 0.2);
	width: 100%;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;

		@include tablet {
			width: 90%;
		}

		@include mobile {
			width: 85%;
		}
	}

	&__title {
		font-family: $title-font;
		font-size: 48px;
		text-align: center;
		// color: rgba($background, 1);

		@include mobile {
			font-size: 40px;
		}
	}

	&__cards {
		display: flex;
		justify-content: center;
		gap: 40px;
		width: 75vw;

		@include tablet {
			flex-direction: column;
			flex-wrap: nowrap;
			width: 85%;
		}
		@include mobile {
			width: 95%;
		}
	}

	&__text {
		font-size: 24px;
		line-height: 1.5;
		text-align: center;
		width: 65vw;
		// color: rgba($background, 1);

		@include tablet {
			width: 100%;
		}
	}
}
