@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.form {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 80px;
	background: white;
	box-shadow: $shadow-lighter-opacity;
	min-width: 30vw;

	&__headings {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		line-height: 1.5;

		&--title {
			font-size: 32px;
			font-weight: 500;
			@include gradientColor;
		}

		&--text {
			font-size: 19px;
		}
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 10px;

		label {
			font-size: 18px;
		}

		input {
			border-top: none;
			border-left: none;
			border-right: none;
			outline: none;
			border-bottom: 1px solid lightgrey;
			padding: 5px 10px;
			font-family: $title-font;
			color: $text;
			font-weight: 500;
		}

		textarea {
			border-top: none;
			border-left: none;
			border-right: none;
			outline: none;
			border-bottom: 1px solid lightgrey;
			height: 80px;
			resize: none;
			padding: 5px 10px;
			font-family: $title-font;
			color: $text;
			font-weight: 500;
		}
	}

	&__confirm {
		text-align: center;
	}
}
