@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.hero {
	background: url('./435shots_so.png') no-repeat;
	background-size: cover;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;

	&__container {
		display: flex;
		justify-content: start;
		width: 75vw;
		margin: auto;
		// align-items: center;
	}

	&__content {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 40px;

		@include tablet {
			width: 100%;
		}
		@include mini-tablet {
			width: 100%;
		}
		@include mobile {
			width: 100%;
		}
	}

	&__logo {
		font-size: 80px;
		font-family: $logo-font, sans-serif;

		&--ma {
			font-size: 105px;

			&.m {
				color: $primary;
			}

			&.a {
				@include gradientColor;
			}
		}

		&--container {
			display: flex;
			flex-direction: column;
		}
	}

	&__logo--text {
		font-size: 80px;
		font-family: $title-font;
		font-weight: 400;
		@include gradientColor;
	}

	&__title {
		font-size: 30px;
		max-width: 70%;

		@include tablet {
			max-width: 100%;
		}
		@include mini-tablet {
			max-width: 100%;
		}
		@include mobile {
			max-width: 100%;
		}
	}
}
