@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.hero {
	background: url('../../../public/518shots_so.png') no-repeat;
	background-size: cover;
	padding: 0;
	width: 100vw;
	height: 90vh;
	display: flex;
	position: relative;
	top: 0;
	left: 0;

	&__container {
		display: flex;
		justify-content: start;
		width: 75vw;
		margin: auto;
		// align-items: center;
	}

	&__content {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 40px;
	}

	&__logo {
		font-size: 80px;
		font-family: $logo-font, sans-serif;

		&--ma {
			font-size: 105px;

			&.m {
				color: $primary;
			}

			&.a {
				@include gradientColor;
			}
		}

		&--container {
			display: flex;
			flex-direction: column;
		}
	}

	&__logo--text {
		font-size: 80px;
		font-family: $title-font;
		font-weight: 400;
		@include gradientColor;
		// background: url("../../../public/beth-macdonald-Okv8UzuZPBw-unsplash.jpg"), no-repeat;
		// background-clip: text;
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
		// font-weight: 700;
	}

	&__title {
		font-size: 30px;
		max-width: 80%;
	}
	&__btn-wrapper {
		display: flex;
		gap: 20px;
	}
}
