@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.navbar__link {
	font-family: $title-font;
	color: $text;
	font-size: clamp(12px, 1.2vw, 18px);
	transition: all 0.3s ease-in-out;

	&:hover {
		color: $secondary;
	}

	&.current {
		@include gradientColor;
		font-weight: 700;
	}

	&.btn {
		font-size: clamp(12px, 1.2vw, 18px);

		&__default {
			position: relative;
			transition: all 0.3s ease-in-out;
			border: 1px solid transparent;
			background-clip: padding-box;

			&:hover {
				color: $background;
				border: 1px solid rgba($primary, 1);
			}
		}

		&__reverse {
			transition: all 0.3s ease-in-out;
			border: none;
			color: $secondary;
			-webkit-text-fill-color: $secondary;
			-moz-text-fill-color: $secondary;

			&:hover {
				box-shadow: none;
			}
		}
	}
}
