@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.infos__item {
	display: flex;
	align-items: center;
	gap: 8px;
	width: auto;

	&--icon {
		font-size: 24px;
		align-self: center;
	}

	&--title {
		text-transform: uppercase;
	}

	&--text {
		font-size: 19px;
		color: $text;
		text-align: start;
	}

	@include tablet {
		width: auto;
	}
}
