@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.infos__item {
	display: flex;
	align-items: center;
	gap: 8px;
	width: auto;

	&--icon {
		font-size: 24px;
		align-self: center;
	}

	// &--title {
	// 	text-transform: uppercase;
	// }

	&--text {
		font-size: 24px;
		color: $text;
		text-align: start;
		font-weight: 500;
		@include mobile {
			font-size: clamp(18px, 5vw, 22px);
		}
	}

	@include tablet {
		width: auto;
	}
}
