.clients {
	&__content {
		display: flex;
		flex-direction: column;
		padding-top: clamp(50px, 8vh, 600px);
		gap: 80px;

		&--title {
			font-size: 48px;
			align-self: center;
		}

		&__cards {
			display: flex;
			justify-content: space-between;
		}
	}
}
