@import '../../../utils/mixins.scss';

.clients {
	&__content {
		display: flex;
		flex-direction: column;
		padding-top: clamp(50px, 8vh, 600px);
		gap: 80px;

		&--title {
			font-size: 48px;
			align-self: center;
			text-align: center;

			@include mobile {
				font-size: 40px;
			}
		}

		&__cards {
			display: flex;
			justify-content: space-between;
			@include tablet {
				flex-direction: column;
				gap: 40px;
			}
		}
	}
}
