@import '../../utils/variables.scss';

.us {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: clamp(50px, 8vh, 600px);
		gap: 80px;
	}

	&__title {
		font-family: $title-font;
		font-size: 48px;
	}

	&__text {
		font-size: 24px;
		line-height: 1.5;
		text-align: center;
		width: 65vw;
	}
	&__columns {
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 80px;
	}
}
