@import '../../utils/variables.scss';

.ma-description {
	&__content {
		display: flex;
		text-align: center;
		gap: 20px;
	}

	&__container {
		display: flex;
		position: relative;
		transition: opacity 1s ease-in-out;

		&--left {
			align-items: flex-end;

			&:hover {
				.ma-description__image__container--left {
					transform: translateX(-50%);
				}

				.ma-description__wrapper--left {
					opacity: 1;
					transform: translateX(50%);
				}
			}
		}

		&--right {
			&:hover {
				.ma-description__image__container--right {
					transform: translateX(50%);
				}

				.ma-description__wrapper--right {
					opacity: 1;
					transform: translateX(-50%);
				}
			}
		}

		&.hover-modification {
			opacity: 0;
		}

		&.fade-in {
			opacity: 1;
		}
	}

	&__image {
		object-fit: cover;
		width: 100%;
		height: auto;
		display: block;

		&--left {
			border-radius: 100% 0 0 100%;
			position: absolute;
			right: -50%;
		}

		&--right {
			border-radius: 0 100% 100% 0;
			position: absolute;
			left: -50%;
		}

		&__container {
			width: 500px;
			height: 500px;
			overflow: hidden;
			position: relative;
			transition: transform 1s ease-in-out;
			z-index: 1;

		}
	}

	&__wrapper {
		opacity: 0;
		transition: transform 1s ease-in-out, opacity 0.1s ease-in-out 0.5s;


		&--left {
			position: absolute;
			right: 0%;
			top: 125px;
		}

		&--right {
			position: absolute;
			left: 0%;
			top: 125px;
		}
	}

	&__title {
		font-size: 36px;

	}

	&__text {
		font-size: 20px;
		line-height: 1.5;
		padding-top: 20px;
		width: 450px;
	}
}