@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.navbar {
	@include tablet {
		width: 100%;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&.open {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: $background;
			z-index: 10;
		}
	}

	&__burger {
		display: none;
		position: absolute;
		top: 3vh;
		right: 5vw;
		cursor: pointer;
		font-size: 24px;

		@include tablet {
			display: block;
		}

		@include mobile {
			right: 7.5vw;
			top: 2.5vh;
		}
	}

	&__list {
		display: flex;
		gap: 20px;
		width: 100%;

		@include tablet {
			display: none;
		}

		&--item {
			text-transform: uppercase;
			color: $text;
			cursor: pointer;
		}

		&.open {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;

			&>.navbar__list--item>.navbar__link {
				font-size: 30px;

				@include mobile {
					font-size: 22px;
				}

				&.btn {
					top: 15px;
					padding: 10px 25px;
					border-radius: 50px;

					&::before {
						border-radius: 50px;
					}
				}
			}
		}
	}
}