@import "../../utils/variables.scss";

.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    background: $gradient;
    font-family: $title-font;
    font-weight: 500;
    
    &__default {
        color: $background;
    }
    &__reverse {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }}
    
