@import "../../Utils/variables.scss";
@import "../../Utils/mixins.scss";

.error {
    padding-top: clamp(50px, 8vh, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__title {
        padding-top: 100px;
        font-weight: 700;
        font-size: 250px;

        @include mobile {
            font-size: 150px;
        }
    }

    .go-to {
        padding: 20px;
    }
}