@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.footer {
	width: 100%;
	background: rgba($primary, 0.1);

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
		height: 8vh;
		width: 75%;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: auto;
		font-size: 18px;
		font-weight: 500;
		font-family: $title-font;

		@include mobile {
			width: 100%;
			font-size: 11px;
		}
	}

	&__link {
		text-decoration: underline solid rgba($text, 0.3);
		text-underline-offset: 5px;
		color: rgba($text, 0.5);
	}
}
