@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.features {
	padding: 160px 0 80px;

	@include mobile {
		padding-top: 100px;
	}

	&__table {
		margin: 0 auto;
		width: 65vw;
		text-align: left;

		@include tablet {
			width: 100%;
		}

		&--plan-names {
			display: flex;
			gap: 10px;
			margin-bottom: 20px;
		}

		&--plan-name {
			padding: 7px 0;
		}
	}

	&__title {
		padding: 5px 0 40px 0;
		border: none;
		font-size: 24px;
		font-family: $title-font;

		@include mobile {
			padding: 5px 0 20px 0;
		}
	}

	&__item {
		padding: 10px;
		border-top: 1px solid rgba($text, 0.1);
		border-left: 1px solid rgba($text, 0.1);
		vertical-align: middle;

		&--title {
			border-top: 1px solid rgba($text, 0.1);
			border-left: 1px solid rgba($text, 0.1);
			font-weight: 500;
			text-transform: uppercase;
			border-top: none;

			&--left {
				border-top: none;
				border-left: none;
			}
		}

		&--right {
			border-right: none;
		}

		&--left {
			padding-left: 20px;
			border-left: none;

			@include mobile {
				padding: 0;
				align-self: flex-start;
			}
		}

		&--mobile {
			padding: 10px;
			border-top: 1px solid rgba($text, 0.1);

			&--title {
				border-right: 1px solid rgba($text, 0.1);
				font-weight: 500;
				text-transform: uppercase;
			}
		}
	}
}

td {
	text-align: center;
}

th {
	width: 30%;

	@include mobile {
		width: 70%;
	}
}

.selected {
	border-bottom: 2px solid $secondary;
	font-weight: 700;
}