@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.features {
	padding: 160px 0 80px;
	background: rgba($primary, 0.2);
	width: 100%;

	@include mobile {
		padding-top: 100px;
	}

	&__table {
		margin: 0 auto;
		width: 75vw;
		text-align: left;

		@include tablet {
			width: 95vw;
		}

		&--plan-names {
			display: flex;
			justify-content: center;
			gap: 10px;
			margin-bottom: 40px;
			font-size: clamp(18px, 5vw, 22px);
		}

		&--plan-name {
			padding: 7px 0;
			cursor: pointer;

			&.selected {
				font-weight: 700;
				@include gradientColor;
			}
		}

		&--plan-pipe {
			padding: 7px 0;
		}
	}

	&__title {
		border: none;
		font-size: 48px;
		font-family: $title-font;
		padding-bottom: 80px;
		text-align: center;
		font-weight: 500;

		@include mobile {
			font-size: 40px;
		}
	}

	&__item {
		padding: 20px 15px;
		border-top: 1px solid rgba($text, 0.1);
		border-left: 1px solid rgba($text, 0.1);
		vertical-align: middle;
		font-weight: 500;

		&--title {
			border-top: 1px solid rgba($text, 0.1);
			border-left: 1px solid rgba($text, 0.1);
			font-weight: 500;
			text-transform: uppercase;
			border-top: none;
			@include gradientColor;

			&--left {
				border-top: none;
				border-left: none;
			}
		}

		&--right {
			border-right: none;
		}

		&--left {
			padding-left: 20px;
			border-left: none;

			@include mobile {
				padding: 10px;
			}
		}

		&--mobile {
			padding: 10px;
			border-top: 1px solid rgba($text, 0.1);

			&--title {
				border-right: 1px solid rgba($text, 0.1);
				font-weight: 500;
				text-transform: uppercase;
			}
		}
	}
}

td {
	text-align: center;
}

th {
	width: 33%;

	@include mobile {
		width: 50%;
	}
}
