@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.ma-description {
	&__content {
		display: flex;
		text-align: center;
		gap: 20px;
	}

	&__container {
		display: flex;
		position: relative;
		transition: opacity 1s ease-in-out;

		&--left {
			&:hover {
				.ma-description__image__container--left {
					transform: translateX(-50%);
				}

				.ma-description__wrapper--left {
					opacity: 1;
					z-index: 0;
					transform: translateX(50%);
				}
			}
		}

		&--right {
			&:hover {
				.ma-description__image__container--right {
					transform: translateX(50%);
				}

				.ma-description__wrapper--right {
					opacity: 1;
					z-index: 0;
					transform: translateX(-50%);
				}
			}
		}

		&.hover-modification {
			opacity: 0;
		}

		&.fade-in {
			opacity: 1;
		}

		@include tablet {
			display: none;
		}

		&--small {
			display: none;

			@include tablet {
				display: flex;
				flex-direction: column;
				gap: 80px;
			}
		}
	}

	&__image {
		object-fit: cover;
		width: 100%;
		height: auto;
		display: block;
		box-shadow: $light-shadow;
		background: $light-gradient;
		z-index: 1;

		&--left {
			border-radius: 100%;
			position: absolute;
			right: -50%;
		}

		&--right {
			border-radius: 100%;
			position: absolute;
			left: -50%;
		}

		&__container {
			width: 500px;
			height: 530px;
			overflow: hidden;
			position: relative;
			transition: transform 1s ease-in-out;
			z-index: 1;

			&--small {
				width: 500px;
				margin: auto;

				@include mobile {
					width: 100%;
				}
			}
		}

		&--small {
			object-fit: contain;
			width: 500px;
			height: auto;
			box-shadow: $shadow-lighter-opacity;
			border-radius: 10px;
			background: $light-gradient;

			@include mobile {
				width: 100%;
			}
		}
	}

	&__wrappers--small {
		display: flex;

		@include mobile {
			flex-direction: column;
		}
	}

	&__wrapper {
		opacity: 0;
		z-index: -10;
		transition: transform 1s ease-in-out, opacity 0.1s ease-in-out 0.5s;

		&--left {
			position: absolute;
			right: 0%;
			top: 125px;
		}

		&--right {
			position: absolute;
			left: 0%;
			top: 125px;
		}

		&--small {
			width: 50%;

			@include mobile {
				width: auto;
			}

			&:nth-child(1) {
				border-right: 1px solid rgba($text, 0.25);

				@include mobile {
					border-right: none;
					margin-bottom: 40px;
					text-align: start;
				}
			}

			&:nth-child(2) {
				@include mobile {
					text-align: end;
				}
			}
		}
	}

	&__title {
		&.names {
			font-size: 29px;
			font-family: $logo-font;
			text-transform: uppercase;

			.margin-m {
				font-family: $logo-font;
				color: $primary;
				font-size: 38px;
				text-transform: lowercase;
			}

			.margin-a {
				font-family: $logo-font;
				@include gradientColor;
				font-size: 38px;
				text-transform: lowercase;
			}
		}

		&--small.names {
			font-size: 26px;
			height: 32px;
			font-family: $logo-font;
			text-transform: uppercase;

			.margin-m {
				color: $primary;
				font-size: 34px;
				text-transform: lowercase;
			}

			.margin-a {
				@include gradientColor;
				font-size: 34px;
				text-transform: lowercase;
			}
		}
	}

	&__text {
		font-size: 20px;
		line-height: 1.5;
		padding-top: 20px;
		width: 450px;

		&--small {
			font-size: 20px;
			padding: 20px;

			@include mobile {
				padding: 20px 0;
			}
		}
	}
}
