@import './variables.scss';

@mixin tablet {
	@media (max-width: $large-screen) {
		@content;
	}
}

@mixin mini-tablet {
	@media (max-width: $medium-screen) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: $small-screen) {
		@content;
	}
}



@mixin gradientColor {
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}