// colors
$text: rgba(#111c27, 0.75);
$background: #EDF1FD;
$primary: #1C8F96;
$secondary: #03B9BC;
$gradient: linear-gradient($secondary, $primary);

// fonts
$title-font: 'Montserrat';
$text-font: 'Open Sans';
$logo-font: 'Manjari';

// box shadow
$shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
$very-light-shadow: 0px 1px 50px -20px rgba($primary,0.3);

// breakpoints
$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;

