// colors
$text: rgba(#111c27, 0.75);
$background: #ffffff;
$primary: #1C8F96;
$secondary: #03B9BC;

// fonts
$title-font: 'Montserrat';
$text-font: 'Open Sans';
$logo-font: 'Manjari';

// box shadow

// breakpoints
$small-screen: 640px;
$medium-screen: 768px;
$large-screen: 1024px;
