@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.hero {
	background-position: 8vh;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;

	&__mockup {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		right: 0;

		@include tablet {
			display: none;
		}

		&--image {
			height: 100%;
			width: 100%;
			object-fit: cover;
			opacity: 0;
			z-index: 0;

			transition: opacity 0.3s ease-in;

			&.fade-in {
				opacity: 1;
			}
		}

		&--mask {
			height: 100%;
			width: 100%;
			object-fit: cover;
			opacity: 1;
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__container {
		display: flex;
		justify-content: start;
		width: 75vw;
		margin: auto;

		@include tablet {
			width: 90vw;
		}
	}


	&__content {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 40px;
		z-index: 1;

		@include tablet {
			width: 100%;
		}

		&>.btn__doubled {
			justify-content: flex-start;
		}
	}

	&__logo {
		font-size: 80px;
		font-family: $logo-font, sans-serif;

		@include tablet {
			font-size: clamp(40px, 6.9vh, 80px);
		}

		@include mobile {
			font-size: 60px;
		}

		&--ma {
			font-size: 105px;

			@include tablet {
				font-size: clamp(53px, 9vh, 105px);
			}

			@include mobile {
				font-size: 80px;
			}

			&.m {
				color: $primary;
			}

			&.a {
				@include gradientColor;
			}
		}

		&--container {
			display: flex;
			flex-direction: column;
		}
	}

	&__logo--text {
		font-size: 80px;
		font-family: $title-font;
		font-weight: 400;
		@include gradientColor;

		@include tablet {
			font-size: clamp(40px, 6.9vh, 80px);
		}

		@include mobile {
			font-size: 60px;
		}
	}

	&__title {
		font-size: 30px;
		max-width: 70%;

		@include tablet {
			max-width: 100%;
			font-size: clamp(18px, 2.6vh, 30px);
		}

		@include mobile {
			font-size: 22px;
		}
	}
}