@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.citation {
	padding-top: 0;
	padding-bottom: 160px;
	width: 50%;

	@include tablet {
		width: 70%;
	}

	@include mobile {
		padding-bottom: 100px;
		width: 95%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		&--quote {
			font-family: $title-font;
			font-size: 42px;
			font-weight: 500;

			@include mobile {
				font-size: 30px;
			}
		}
	}
}
