@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.btn {
	position: relative;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 10px;
	background: $gradient;
	font-size: clamp(14px, 2vw, 18px);
	font-weight: 500;
	font-family: $text-font;
	text-transform: uppercase;
	z-index: 1;
	overflow: hidden;
	transition: all 0.3s ease-in-out;

	@include tablet {
		border-radius: 50px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 10px; // Mêmes dimensions que .btn
		padding: 2px; // Espacement pour la bordure de 2px
		background: $gradient;
		-webkit-mask: linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude; // Pour le support des autres navigateurs
		z-index: -1;

		@include tablet {
			border-radius: 50px;
		}
	}

	&__default {
		color: $background;
	}

	&__reverse {
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: $button-shadow;
	}
}
