@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.column {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;
		@include mobile {
			width: 95%;
			margin: auto;
		}
	}

	&__image {
		object-fit: contain;
		width: 15vw;
		height: 15vw;

		@include tablet {
			width: 22vw;
			height: 22vw;
		}
		@include mini-tablet {
			width: 25vw;
			height: 25vw;
		}
		@include mobile {
			width: 40vw;
			height: 40vw;
		}
	}

	&__title {
		font-size: 36px;

		@include mobile {
			font-size: 32px;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 1.5;
		padding-top: 20px;
	}
}
