@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.navbar__link {
	font-family: $title-font;
	color: $text;
	font-size: clamp(12px, 1.2vw, 18px);
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $secondary;
	}

	&.current {
		@include gradientColor;
		font-weight: 700;
	}

	&.btn {
		font-size: clamp(12px, 1.2vw, 18px);

		&:hover {
			box-shadow: none;
		}

		&__reverse {
			transition: all 0.3s ease-in-out;

			&:hover {
				background: $secondary;
				-webkit-text-fill-color: $background;
				-moz-text-fill-color: $background;
			}
		}

		&__default:hover {
			color: $background;
		}
	}
}