@import '../../../utils/mixins.scss';

.additionalServices {
	padding: 0 0 160px 0;
	background: rgba($primary, 0.2);
	width: 100%;

	@include mobile {
		padding-bottom: 100px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 40px;
		margin: 0 auto;
		width: 75vw;

		@include tablet {
			width: 95vw;
		}

		@include mobile {
			width: 85vw;
		}
	}

	&__title {
		font-size: 24px;
		display: flex;
	}

	&__list {
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		gap: 25px;

		&--item {
			display: flex;
			align-items: center;
			gap: 20px;
		}

		&--icon {
			width: 25px;
			height: 25px;
		}
	}
}
