@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.column {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;
	}

	&__image {
		object-fit: contain;
		width: 15vw;

		@include tablet {
			width: 20vw;
		}
		@include mini-tablet {
			width: 25vw;
		}
		@include mobile {
			width: 30vw;
		}
	}

	&__title {
		font-size: 36px;
	}

	&__text {
		font-size: 20px;
		line-height: 1.5;
		padding-top: 20px;
	}
}
