@import '../../utils/variables.scss';

.prices {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 80px;
		padding-top: 8vh;
	}

	&__title {
		font-family: $title-font;
		font-size: 48px;
		text-align: center;
	}

	&__text {
		font-size: 24px;
		text-align: center;
	}

	&__plans {
		display: flex;
		gap: 80px;
	}
}
