@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.contact {
	padding-bottom: 160px;
	width: 100%;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 80px;
		padding-top: clamp(50px, 8vh, 600px);
	}

	&__title {
		font-size: 48px;
		font-weight: 400;
		text-align: center;

		@include mobile {
			font-size: 40px;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		gap: 80px;
		width: 75%;
	}

	&__infos {
		display: flex;
		align-items: center;
		width: 40%;

		&--headings {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}

	.infos__headings {
		&--title {
			font-size: 32px;
			font-weight: 500;
		}

		&--text {
			font-size: 19px;
			line-height: 1.3;
		}
	}

	.infos__content {
		display: flex;
		gap: 20px;
		margin-top: 15px;
	}
}
