// @import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import './utils/variables.scss';
@import './utils/mixins.scss';
@import './utils/keyframes.scss';

.App {
	font-family: $text-font, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Helvetica Neue',
		sans-serif;
	font-weight: 400;
	color: $text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 100vw;
	margin: auto;
	box-sizing: border-box;
	// background: rgba($background, 1);
	background: url('4842928.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	z-index: 0;
	position: relative;

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($background, 0.6);
		z-index: -1;
		pointer-events: none;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $title-font;
	}
}

.color-touch {
	@include gradientColor;
}
.color-touch-svg {
	color: $primary;
}

.bolder {
	font-weight: 600;
}

.fadeIn__title {
	animation: fadeInAnimation 1.5s ease-in-out both;
}

.fadeIn__text {
	animation: fadeInAnimation 1.5s ease-in-out 1s both;
}

.fadeIn__columns {
	animation: fadeInAnimation 1.5s ease-in-out 1.5s both;

	&:nth-child(2) {
		animation-delay: 2s;
	}
	&:nth-child(3) {
		animation-delay: 2.5s;
	}
}

.fadeIn__button {
	animation: fadeInAnimationButton 1.5s ease-in-out 3s both;
}
