@import '../../utils/variables.scss';

.backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    color: rgba($background, 1);
    font-size: 2rem;
    background: $gradient;
    box-shadow: $shadow;
    border-radius: 50%;
    z-index: 1000;
    position: fixed;
    bottom: 1.5vh;
    right: 2.5vh;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s opacity ease-in;

    &.visible {
      opacity: 0.8;
    }

    &.hidden {
      opacity: 0;
    }
  }